_build/
build/
debug/
dist/
out/
queuelogs/

.vscode/

*.o
*.obj
*.elf
*.hex
*.map
*.lst
*.cod
*.d
*.i
*.p1
.generated_files/
nbproject/
Makefile*
Package-*
private/
!cmake/**/user.cmake
cmake/**/.generated/*
cmake/**/CMake*